In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import pickle
pickle_in = open('/content/drive/MyDrive/IIM Nagpur NLP Files/CellPhoneAllData.pickle', 'rb')
df = pickle.load(pickle_in)
df

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,...,Topic4,Topic5,Topic6,dominant_topic,total_imp_topics,custom_topic_name,votes,total_imp_topics_0.05,total_imp_topics_0.10,total_imp_topics_0.20
0,1,False,"09 21, 2004",A5JLAU2ARJ0BO,B0000E3GWH,NaN,Old-and-Wise,This phone is ugly and heavy and has a terribl...,Bad reception,1095724800,...,0.01,0.01,0.81,6,2,Quality,2,2,2,1
1,4,False,"07 24, 2004",A1ACM1CBGORBN1,B0000E3GWH,NaN,Sherry Berry,I had the Samsung V205 and then I decided to t...,Pretty good phone.. an improvement from my v205,1090627200,...,0.12,0.10,0.66,6,5,Quality,15,5,3,1
2,3,False,"07 6, 2004",A2V48Q03FZUOSD,B0000E3GWH,NaN,Benjamin David,This is the first Samsung phone I have had and...,Not as user friendly as the Motorola V300-,1089072000,...,0.00,0.00,0.58,6,2,Quality,11,2,2,2
3,5,True,"04 12, 2004",A1V3TRGWOMA8LC,B0000E3GWH,NaN,James Beswick,"..and I'm from Europe, where the phones and ne...",The best phone I've ever owned,1081728000,...,0.01,0.16,0.27,0,5,Phone related generalized words 1,4,5,4,2
4,3,False,"02 19, 2004",A3NOBH42C7UI5M,B0000E3GWH,NaN,Kepela,This phone is amazingly small and light for a ...,I love the phone but it has some real problems,1077148800,...,0.14,0.00,0.50,6,4,Quality,12,4,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53625,1,True,"01 15, 2018",A13L832YDDGU9G,B00PDML6U8,NaN,Terri W,The phone was stolen could not activate at all...,Stolen metro PC's phone,1515974400,...,0.03,0.03,0.03,1,1,Features,0,1,1,1
53626,5,True,"08 15, 2016",A2UFV43VAUFKSH,B00PDML6U8,NaN,Nstor Jose Mattey Fuentes,good,Five Stars,1471219200,...,0.07,0.07,0.07,2,7,Phone related generalized words 2,0,7,1,1
53627,1,True,"08 10, 2016",A2LQOV3RNG1Y2T,B00PDML6U8,NaN,Tim,I purchased two of them and had so many proble...,usually they are great products.,1470787200,...,0.02,0.02,0.02,1,2,Features,0,2,2,1
53628,5,True,"07 14, 2015",ADY00ZJCY53F1,B00PDML6U8,NaN,SILVANA HUERES,excelente,Five Stars,1436832000,...,0.07,0.07,0.07,3,7,"Service (Sim, Data Pack)",2,7,1,1
53629,4,False,"04 23, 2015",A2IK776FY6MEMG,B00PDML6U8,NaN,Obi Wan,This is a great Smartphone for someone who's n...,Great budget smartphone,1429747200,...,0.00,0.08,0.77,6,3,Quality,9,3,2,1

In [ ]:
df.columns

Index(['overall', 'verified', 'reviewTime', 'reviewerID', 'asin', 'style',
       'reviewerName', 'reviewText', 'summary', 'unixReviewTime', 'vote',
       'image', 'description', 'feature', 'rank', 'main_cat', 'imageURL',
       'imageURLHighRes', 'no_of_sent', 'no_of_words', 'no_of_unique_words',
       'rank_no', 'sub_cat_1', 'sub_cat_2', 'sub_cat_3', 'sub_cat_rank', 'WC',
       'Analytic', 'Authentic', 'Tone', 'WPS', 'BigWords', 'Dic', 'Cognition',
       'Affect', 'tone_pos', 'tone_neg', 'emotion', 'emo_pos', 'emo_neg',
       'time', 'focuspast', 'focuspresent', 'focusfuture', 'Topic0', 'Topic1',
       'Topic2', 'Topic3', 'Topic4', 'Topic5', 'Topic6', 'dominant_topic',
       'total_imp_topics', 'custom_topic_name', 'votes',
       'total_imp_topics_0.05', 'total_imp_topics_0.10',
       'total_imp_topics_0.20'],
      dtype='object')

In [ ]:
df.drop(['total_imp_topics'], axis=1, inplace=True)

In [ ]:
df.drop([43211, 43212, 43213], inplace=True)
df.reset_index(drop=True, inplace=True)

In [ ]:
df["votes"] = pd.to_numeric(df["votes"])

## Groupby on 0.05, 0.10, 0.20

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
g_tot_imp_005 = df.groupby('total_imp_topics_0.05')

In [ ]:
g_tot_imp_005.describe()['votes']

,count,mean,std,min,25%,50%,75%,max
total_imp_topics_0.05,,,,,,,,
1,5326.0,0.507135,4.205367,0.0,0.0,0.0,0.0,159.0
2,10609.0,1.309171,12.382380,0.0,0.0,0.0,0.0,927.0
3,8867.0,3.473554,17.637029,0.0,0.0,0.0,2.0,618.0
4,5958.0,7.770057,42.717783,0.0,0.0,0.0,4.0,1737.0
5,3140.0,13.235032,57.597245,0.0,0.0,2.0,6.0,1080.0
6,744.0,19.319892,68.910907,0.0,0.0,3.0,8.0,987.0
7,18983.0,0.124743,2.265566,0.0,0.0,0.0,0.0,249.0

In [ ]:
for i in range(1,8):
    print(i, '---', g_tot_imp_005.get_group(i)['votes'].mean())

1 --- 0.5071348103642509
2 --- 1.3091714581958713
3 --- 3.4735536258035413
4 --- 7.770057066129573
5 --- 13.235031847133758
6 --- 19.31989247311828
7 --- 0.12474319127640521

In [ ]:
df['total_imp_topics_0.05'].value_counts()

7    18983
2    10609
3     8867
4     5958
1     5326
5     3140
6      744
Name: total_imp_topics_0.05, dtype: int64

**According to this, a review talking about 5 topics should be the most beneficial (mean wise and count wise).**

In [ ]:
g_tot_imp_010 = df.groupby('total_imp_topics_0.10')

In [ ]:
for i in range(1,8):
    print(i, '---', g_tot_imp_010.get_group(i)['votes'].mean())

1 --- 0.318976716298591
2 --- 2.639355992844365
3 --- 5.846153846153846
4 --- 8.97488956056731
5 --- 9.215025906735752
6 --- 10.837837837837839
7 --- 0.05265888456549935

In [ ]:
df['total_imp_topics_0.10'].value_counts()

1    20014
2    13975
3    10673
4     4301
7     3855
5      772
6       37
Name: total_imp_topics_0.10, dtype: int64

**According to this, a review talking about 4 topics should be the most beneficial (mean wise and count wise).**

In [ ]:
g_tot_imp_020 = df.groupby('total_imp_topics_0.20')

In [ ]:
for i in range(0,5):
    print(i, '---', g_tot_imp_020.get_group(i)['votes'].mean())

0 --- 0.05265888456549935
1 --- 1.9144387116948092
2 --- 4.158265665696338
3 --- 4.623722789871168
4 --- 5.3619047619047615

In [ ]:
df['total_imp_topics_0.20'].value_counts()

1    25584
2    19581
3     4502
0     3855
4      105
Name: total_imp_topics_0.20, dtype: int64

**Cannot decide as such, maybe 2?**